#about{
    background:url(../../src/assets/blob.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 120px;
}

.hero-about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12em;
    margin-right: 5em;
    font-size: 1.17em;
}

.hero-about h1{
    font-size: 4.5em;
    line-height: 1.1;
    margin-bottom: 0.1em;
}

.rotating-image{
    width:100px;
    height:100px;
}