.card {
    padding: 20px;
    width: 90%;
    min-height: 370px;
    border-radius: 20px;
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(145deg, transparent 35%, var(--purple-2), var(--green-1)) border-box;
    border: 2px solid transparent;
    background-size: 1000% auto;
    transition: 0.4s;
    visibility: hidden;
    animation: move-border 4s linear infinite alternate;
}

@keyframes move-border {
    0% {
        background-position: 0% 0%, 0% 0%;
    }
    100% {
        background-position: 100% 100%, 100% 100%;
    }
}

.card:hover {
    translate: 0 -10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #b2eccf;
    margin: 15px 0 0 10px;
}

.card-image {
    background-color: #313131;
    border-radius: 15px;
    background: #313131;
    box-shadow: inset 5px 5px 3px #2f2f2f, inset -5px -5px 3px #333333;
    display: flex;
    align-items: flex-start;
}

.card-image img {
    height: 100%;
    width: 100%;
}

.card-body {
    margin: 13px 0 13px 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
}

.categories {
    display: flex;
    gap: 8px;
    margin-left: 10px;
    flex-wrap: wrap;
}
.categories span {
    color: white;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
}
