.sidebar {
    background: #14110f;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

footer {
    padding: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content to the bottom */
    justify-content: center; /* Horizontally center the content */
    height: 100%; /* Ensure the footer takes the full height of its container */
}

footer ul {
    display: flex;
    flex-direction: row;
    gap:1em;
    padding-left: 0;
}

footer ul li a{
    font-size: 1.5em;
    color:var(--green-1);
}


.nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.25em;
    padding: 0;
}

.link {
    color: var(--green-1);
    font-weight: 300;
    text-decoration: inherit;
    text-transform: uppercase;

    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    position: relative;
}

.link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--purple-2);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.active::after {
    width: 100%;
    left: 0;
}

.link:hover {
    font-weight: 500;
    background: linear-gradient(
        to right,
        var(--purple-2) 20%,
        var(--purple-1) 30%,
        #ae78f4 70%,
        var(--purple-2) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 500% auto;
    animation: textShine 1.5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.hero-title {
    font-size: 4.5em;
    line-height: 1.1;
    color: var(--purple-2);
    text-align: left;
}

li {
    text-decoration: none;
    list-style: none;
}

.photo-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    text-align: center;
}

.photo-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--purple-1);
    object-fit: cover;
    object-position: top;
}

.photo-section h1 {
    font-size: 1.6em;
    color: var(--purple-2);
    margin-bottom: 0;
}

.position {
    margin: 0;
    font-weight: 300;
    color: rgb(237, 237, 237);
}
