#root {
    height: 100%;
    width: 100%;
}

.main-container {
    width: calc(100% - 280px);
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

