#root {
    height: 100%;
    width: 100%;
}

.main-container {
    background: url(./assets/blob.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 120px;
    width: calc(100% - 280px);
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.offcanvas{
    overflow-x:hidden;
    transform: translateX(280px);
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

@keyframes moveUp {
    from {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}

.blur-buffer {
    height: 15em;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        transparent 100%
    );
}

.blur-buffer-2 {
    height: 15em;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, transparent 100%);
}

.hidden{
    display: none;
}

@media (max-width: 990px) {
    body{
        width: 100% !important;
    }

    .main-container{
        background: #000;
        width: 100%;
        background-position: 660px;
    }

    .blur-buffer, .blur-buffer-2{
        display: none;
    }
}


